<div class="row">

    <div class="col-6" *ngIf="professorSelecionado">
        <div class="row">
            <div class="col float-start">
                <app-titulo [titulo]="'Professor: '+ professorSelecionado.nome"></app-titulo>
            </div>
            <div class="col float-end">
                <button class="btn btn-outline-danger float-end mt-2" (click)="voltar()">Fechar</button>
            </div>
        </div>
        <form [formGroup]="professorForm" (submit)="professorSubmit()" class="mt-2">
            <div class="mb-3">
              <label class="form-label">Nome</label>
              <input formControlName="nome" type="text" class="form-control">
            </div>
            <div class="mb-3">
              <label class="form-label">Disciplina</label>
              <input formControlName="disciplina" type="text" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="!professorForm.valid">Atualizar</button>
        </form>
    </div>
    <div [ngClass]="{'col-6' : professorSelecionado, 'col-12' : !professorSelecionado}">
        <app-titulo [titulo]="titulo"></app-titulo>
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Disciplina</th>
                <th>Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let professor of professores">
                <td scope="row">{{professor.id}}</td>
                <td>{{professor.nome}}</td>
                <td>{{professor.disciplina}}</td>
                <td>
                    <div class="btn-group">
                        <button class="btn btn-warning" (click)="selecionarProfessor(professor)">Detalhar</button>
                        <button class="btn btn-outline-primary" (click)="openModal(template)">Professores</button>
                        <button class="btn btn-danger">Desativar</button>
                    </div>
                </td>
              </tr>
            </tbody>
        </table>
    </div>
</div>
<ng-template #template>
    <div class="modal-body">
      <app-professores></app-professores>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn pull-right" aria-label="Close" (click)="modalRef.hide()">
          Fechar
      </button>
    </div>
  </ng-template>